body{
  background-image:url("Images/SiteAssets/warship-background.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#info{
  border: thin solid black;
  text-align:center;
  list-style:circle;
  margin-bottom:5%;
}

#info > p {
  font-size: 25px;
}

legend {
  font-size: 20px;
}

#info > ul {
  
}

table{
  background-color: rgba(173, 216, 230, 0.788);
  border: thin solid black;
  width: 40%;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto; 
}

table td{
  border:thin solid black;
  text-align:center;  
  margin:30px;
  height:80px;
  width:80px;  
  text-align:center;
  vertical-align:middle;
}

table td:hover {
  background-color:lightskyblue;
  cursor:url('Images/SiteAssets/Target.png'), auto;
}

table th:not(#boardLabel){
  width:15px;
  height:20px;
  text-align:center;
  vertical-align: middle;  
  
}

#board{
  margin-bottom: 50px;
  
}

h2 {
  text-align: center;
  margin:auto;
  padding: 20px;
}

form {
  margin-top:50px;
}

#playerlist {
  border:thin solid black;
  float:left;
  height:30%;
  width:15%;
  margin-left:7%;
  margin-top:0%;
  background-color:rgb(157, 188, 207);
  overflow-y:scroll;
  position:fixed;
  opacity: 0.7;
  display: inline-block;
  left:0%;
}

#playerlist > p {
  text-align: center; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #1a0274;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}


#computerlist {
  border:thin solid black;
  float:right;
  height:30%;
  width:15%;
  margin-right:7%;
  margin-top:0%;
  background-color:rgb(157, 188, 207);
  overflow-y:scroll;
  position:fixed;
  right:0%;
  opacity: 0.7;
  display: inline-block;
}

#computerlist > p {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #1a0274;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

#boardLabel {
  text-align:center;
  border-collapse:collapse;
  font-size:20px;
}

#battleShipIcon {
  height: 80px;
  width: 80px
}

#explosion {
  height: 60px;
  width: 60px
}

#winCard {
  position: fixed;
  background-color: rgb(83, 83, 83);
  top: 35%;
  left: calc(50% - 150px);
}
#winCard p {
  padding-top: 30px;
  width: 300px;
  height: 200px;
  text-align: center;
  font-size: x-large;
  color: blue;
}

.button {
    box-shadow: 2px 0px 13px -1px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:30px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:20px;
    font-weight:bold;
    padding:5px 32px;
    text-decoration:none;
  }

  .button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
