body{
  background-image:url("Images/SiteAssets/warship-background.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

#title {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#info{
  text-align:center;
  margin-bottom:5%;
  font-size:25px;
  background-color:rgb(255, 255, 255, 0.5);
  box-shadow:0px 0px 5px black;  
}

#info > p {
  font-size: 25px;
}

legend {
  font-size: 20px;
}

table{
  background-color: rgba(173, 216, 230, 0.788);
  border: thin solid black;
  width: 30vw;
  height: 30vh;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto; 
  box-shadow:0px 0px 15px black;
}

table td{
  border:thin solid black;
  text-align:center;  
  margin:30px;
  height:80px;
  /* height:40%; */
  width:80px; 
  text-align:center;
  vertical-align:middle;
  color: red;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table td:hover {
  /* background-color:lightskyblue; */
  cursor:url('Images/SiteAssets/Target.png'), auto;
  animation-name: aiming;
  animation-duration:1.25s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}

@keyframes aiming{
  0%{background-color:rgb(255, 1, 1, 0.1);}
  50%{background-color:rgb(255, 1, 1, 1);}
  100%{background-color:rgb(255, 1, 1, 0.1);}
}

table th:not(#boardLabel){
  width:20px;
  height:20px;
  text-align:center;
  vertical-align: middle;
  font-size:20px;
  font-weight:bold
}

#playerBoardLabel th {
  width: fit-content;
}

#board{
  margin-bottom: 10px;
  /* height:40%;
  width:40%; */
}

.compBoard {
  float: left;
  margin-left: 18%; 
}

#playerBoard {
  float: right;
  margin-right: 18%;
}

h2 {
  text-align: center;
  margin:auto;
  padding: 20px;
}

form {
  margin-top:50px;
}

#playerlist {
  /* border:thin solid black; */
  box-shadow: 0px 0px 5px black;
  height:30%;
  width:9%;
  margin-left:7%;
  margin-top:15%;
  background-color:rgb(157, 188, 207);
  overflow-y:scroll;
  position:fixed;
  opacity: 0.7;
  display: inline-block;
  left:0%;
}

#playerlist > p {
  text-align: center; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #1a0274;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}


#computerlist {
  /* border:thin solid black; */
  box-shadow: 0px 0px 5px black;
  height:30%;
  width:9%;
  margin-right:7%;
  margin-top:14.25%;
  background-color:rgb(157, 188, 207);
  overflow-y:scroll;
  position:fixed;
  right:0%;
  opacity: 0.7;
  display: inline-block;
}

#computerlist > p {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #1a0274;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

#boardLabel {
  text-align:center;
  border-collapse:collapse;
  font-size:20px;
}

#playerBoardLabel {
  text-align:center;
  border-collapse:collapse;
  font-size:20px;
}

@keyframes ship{
  0%{
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
  }
  50%{-webkit-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
    }
  100%{
    -webkit-transform: rotateZ(8deg);
        -ms-transform: rotateZ(8deg);
        transform: rotateZ(8deg);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
  }
}

#battleShipIcon {
  height: 80px;
  width: 60px;
  animation-name: ship;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#explosion {
  height: 50px;
  width: 50px
}

#winCard {
  position: fixed;
  background-color: rgb(83, 83, 83, 0.9);
  top: 35%;
  left: calc(50% - 150px);
  border-radius: 12px;  
}

#winCard p {
  padding: 0px 30px 40px 30px;
  width: 300px;
  height: 75px;
  text-align: center;
  font-family: Chango, display;
  font-size: 50px;
  font-weight: normal;
  color: rgba(255, 252, 252, 1);
  font-style: normal;
  line-height: 3.1em;
  letter-spacing: 6px;
  text-shadow: -4px 6px 10px rgb(43, 103, 131);
}

#winCard p:first-of-type {
  padding-bottom: 0px;
}

#wincard button {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.button {
    box-shadow: 2px 0px 13px -1px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:30px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:20px;
    font-weight:bold;
    padding:4px 32px;
    text-decoration:none;
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .button:hover {
    box-shadow: 2px 0px 13px -1px #276873;
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }

  #surrender {
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    margin-left: 50px;
    padding: 16px 32px;
    border-radius:30px;
    font-size:larger;
    font-weight:bolder;
    color:black;
    box-shadow: 2px 0px 13px -1px #599bb3;
    position: fixed;
    top:30px;
    left:20px;
    cursor:pointer;
  } 
  
  @-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.applySwing {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



#progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  margin: 0 auto 30px auto;
}

#progress-value {
  box-shadow: 0 10px 40px -10px rgb(202, 202, 202);
  border-radius: 100px;
  background: rgb(202, 202, 202);
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 80%; }
}

.applyLoad {
  animation: load 3.5s normal forwards;
}

#missile {
  transform: rotate(90deg);
  width: 100px;
}

h1{
  text-align: center;
  padding-bottom: 10px;
  font-size: 36px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}