.column-y-axis{
  float:left;
  width:18%;
  padding:10px;
  background-color: lightgray;
  text-align: center;
  border:thin solid black;
}

.row-x-axis:after {
  content: "";
  display: table;
  clear: both;
  border:thin black;
}

table{
  background-color: lightblue;
  border: thin solid black;
  width: 60%;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto;
  
 
}

table td{
  border:thin solid black;
  /* border-collapse:collapse; */
  text-align:center;
  
  margin:30px;
  height:80px;
  
}